@model ltbdb.Models.BookModel
@using ltbdb.Extensions
@using ltbdb.Core.Interfaces
@inject IImageService ImageService

<li>
	<a asp-route="view" asp-route-id="@Model.Id" asp-route-slug="@($"Nr. {Model.Number} {Model.Title}".ToSlug())">
		<div>
			<img src="@ImageService.GetImageWebPath(Model.Filename, ImageType.PreferThumbnail)" alt="" />
		</div>
		<span>Nr. @Model.Number - @Model.Title</span>
	</a>
</li>