@model LtbDb.Models.LoginModel
@using LtbDb.Extensions

@{
	Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
	ViewBag.Title = "Login";
}

<div class="row justify-content-center">
	<div class="col-md-4">
		<div class="mt-5 card">
			<div class="card-header">
				Anmeldung
			</div>
			<div class="card-body">

				@if(Html.HasError("error")) {
					<div class="alert alert-danger" role="alert">
						@Html.ErrorMessage("error")
					</div>
				}

				<form asp-route="login" method="post" enctype="multipart/form-data" id="login-form" asp-antiforgery="false">
					<div class="mb-3">
						<label class="form-label" for="username">Benutzername</label>
						<input class="form-control" type="text" name="username" id="username" placeholder="Benutzername" autofocus validation-for="username" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Passwort</label>
						<input class="form-control" type="password" name="password" id="password" placeholder="Passwort" validation-for="password" />
					</div>
					<div class="mb-3 form-check">
						<input class="form-check-input" type="checkbox" name="remember" id="rememberLabel" value="true">
						<label class="form-check-label" for="rememberLabel">Login speichern</label>
					</div>
					<input class="btn btn-primary" type="submit" value="Anmelden" />
				</form>
			</div>
		</div>
	</div>
</div>



@* <form asp-route="login" method="post" enctype="multipart/form-data" id="login-form" asp-antiforgery="false">
	<h2>Anmeldung</h2>
	<div class="details">
		<div style="margin-left: -10px; padding-bottom: 20px;">
			@Html.ValidationMessage("failed")
		</div>

		<div class="block">
			<label for="username">Benutzername</label>
		</div>
		<div class="block">
			<input class="input input-small" type="text" id="username" name="username" value="@Model.Username" placeholder="Benutzername" /> @Html.ValidationMessage("username")
		</div>

		<div class="block">
			<label for="password">Passwort</label>
		</div>
		<div class="block">
			<input class="input input-small" type="password" id="password" name="password" value="" placeholder="Passwort" /> @Html.ValidationMessage("password")
		</div>

		<div class="block">
			<input class="button-green" type="submit" value="Login" />
		</div>
	</div>
</form> *@
