@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>

<html lang="de">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="version" content="@await Component.InvokeAsync("Version")">
		@if(!String.IsNullOrEmpty(ViewBag.Description)) {
		<meta name="description" content="@ViewBag.Description" />
		}

		<meta name="application-name" content="Lustiges Taschenbuch Datenbank" />
		<meta name="keywords" content="Lustiges Taschenbuch, Datenbank, LTB, @ViewBag.Keywords" />

		<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jquery-ui.min.css")" />
		<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jquery-ui.theme.min.css")" />
		<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jBox.all.min.css")" />
		<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/ltbdb.min.css")" />

		<script type="text/javascript" src="@Url.Content("~/lib/jquery.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jquery-ui.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jBox.all.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/ltbdb.min.js")"></script>

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@(ViewBag.Title)Lustiges Taschenbuch - Datenbank</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="wrapper-content">
				<div class="header">
					<a href="/">
						<div class="left">
							<h1 class="logo">
								Lustiges Taschenbuch Datenbank
							</h1>
						</div>
					</a>
					<div class="right">
						<div class="links">
							@*<a href="#">Impressum</a>*@
							@await Html.PartialAsync("_PartialLogin")
						</div>
						<div class="searchbox">
							<form asp-route="search" asp-route-ofs="" method="get">
								<input id="q" type="text" name="q" value="@ViewBag.Search" placeholder="Suche..." />
							</form>
						</div>
					</div>
				</div>

				<div class="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a asp-route="categories" asp-route-ofs="">Kategorien</a>
							<ul>
								@await Component.InvokeAsync("Categories")
							</ul>  
						</li>
						<li><a asp-route="tags" asp-route-ofs="">Tags</a>
							<ul>
								@await Component.InvokeAsync("Tags")
							</ul>
						</li>
						@if(Context.User.Identity.IsAuthenticated) {
						<li><a asp-route="create">Neues Buch</a></li>
						}
						@if((await AuthorizationService.AuthorizeAsync(User, "AdministratorOnly")).Succeeded) {
						<li style="float: right;">
							<a href="/admin">Einstellungen</a>
						</li>
						}
					</ul>
				</div>

				<div class="content">
					@RenderBody()
				</div>

				@await Html.PartialAsync("_PartialFooter")
			</div>
		</div>
	</body>
</html>
