@* @using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService *@

<!DOCTYPE html>

<html lang="de">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="version" content="@await Component.InvokeAsync("Version")">
		@if(!String.IsNullOrEmpty(ViewBag.Description)) {
		<meta name="description" content="@ViewBag.Description" />
		}

		<partial name="_PartialStyles" />

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@(ViewBag.Title) @(!String.IsNullOrEmpty(ViewBag.Title) ? "|" : "") Lustiges Taschenbuch - Datenbank</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- brand -->
				<a class="navbar-brand" href="/">
					<img src="/content/logo.png" alt="" width="21" height="24" class="d-inline-block align-text-top">
					Lustiges Taschenbuch - Datenbank
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- navigation -->
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
						<li class="nav-item">
							<a class="nav-link @(ViewBag.Menu == "all" ? "active" : "")" asp-route="all" asp-route-ofs="">Alle&nbsp;Kategorien</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewBag.Menu == "categories" ? "active" : "")" asp-route="categories" asp-route-ofs="">Kategorien</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewBag.Menu == "tags" ? "active" : "")" asp-route="tags" asp-route-ofs="">Tags</a>
						</li>
						@* <li class="nav-item">
							<a class="nav-link d-flex flex-column align-items-center" asp-route="tags" asp-route-ofs="">
								<i class="fa-solid fa-fw fa-tag"></i>
								<span class="d-none d-sm-inline">Tags</span>
							</a>
						</li> *@
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<form asp-route="search" asp-route-ofs="" method="get" id="search-form">
								<div class="input-group mb-0">
									<input class="form-control border-right-0 border" type="text" name="q" placeholder="Suche..." value="@ViewBag.Search" aria-label="Search">
									<button class="btn btn-outline-secondary border-left-0 border" type="submit">
										<i class="fa-solid fa-fw fa-search"></i>
									</button>
								</div>
							</form>
						</li>
					</ul>
					<ul class="navbar-nav">
						<partial name="_PartialLogin" />
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			@RenderBody()
		</div>

		<div class="container">
			<partial name="_PartialFooter" />
		</div>

		<partial name="_PartialScripts" />

		@RenderSection("script", required: false)
	</body>
</html>
