@model LtbDb.Models.BookModel
@using LtbDb.Extensions
@using LtbDb.Core.Interfaces
@inject IImageService ImageService

<div class="col">
	<div class="card h-100 shadow">
		<div class="card-header text-truncate">
			<a asp-route="view" asp-route-id="@Model.Id" asp-route-slug="@($"Nr. {Model.Number} {Model.Title}".ToSlug())" class="link-secondary stretched-link">Nr. @Model.Number - @Model.Title</a>
		</div>
		<img src="@ImageService.GetImageWebPath(Model.Filename, ImageType.PreferThumbnail)" class="card-img-top mx-auto" style="min-height: 300px; width: 100%; height: 15vh; object-fit: contain;" alt="">
	</div>
</div>