<!DOCTYPE html>

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="version" content="@await Component.InvokeAsync("Version")">
		
		<link type="text/css" href="@Url.Content("~/lib/smoothness/jquery-ui.min.css")" rel="stylesheet" />
		<link type="text/css" href="@Url.Content("~/lib/jBox.css")" rel="stylesheet" />
		<link type="text/css" href="@Url.Content("~/css/admin.min.css")" rel="stylesheet" />

		<script type="text/javascript" src="@Url.Content("~/lib/jquery.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jquery-ui.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/lib/jBox.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/js/ltbdb.min.js")"></script>

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@(ViewBag.Title)Lustiges Taschenbuch - Administration</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="wrapper-content">
				<div class="header">
					<a href="/admin">
						<div class="left">
							<h1 class="logo">
								Lustiges Taschenbuch Administration
							</h1>
						</div>
					</a>
					<div class="right">
					</div>
				</div>

				<div class="content">
					<div class="one-fourth">
						<div class="left-box">
							<nav>
								<a href="/admin" class="@((ViewBag.Menu == "home") ? "selected" : "")">Home</a>
								<a href="/">Frontend</a>
								<a asp-route="adminCategory" class="@((ViewBag.Menu == "category") ? "selected" : "")">Kategorien</a>
							</nav>
						</div>
					</div>
					<div class="three-fourth">
						<div class="right-box">
							@RenderBody()
						</div>
					</div>
				</div>

				@await Html.PartialAsync("_PartialFooter")
			</div>
		</div>
	</body>
</html>
