@model ltbdb.Models.BookViewTagContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("Inhalte getaggt mit \"{0}\"", Model.Tag);
	ViewBag.Description = String.Format("Inhalte getaggt mit \"{0}\"", Model.Tag);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.Format("Inhalte getaggt mit \"{0}\"", @Model.Tag);
}

<div class="book">
	<ul>
	@if(Model.PageOffset.HasPrevious) {
		<li>
			<a class="pager" href="@Url.Action("index", "tag", new { id = Model.Tag, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
		</li>
	 }
	@foreach (var book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id, slug = book.Title.ToSlug() })">
				<div class="img">
					<img src="@ImageStore.GetCDNPath(book.Filename, ImageType.Thumbnail)" alt="" />
				</div>
				<div class="title">
					<span>Nr. @book.Number - @book.Title</span>
				</div>
			</a>
		</li>
	}
	@if(Model.PageOffset.HasNext) {
		<li>
			<a class="pager" href="@Url.Action("view", "tag", new { id = Model.Tag, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
		</li>
	}
	</ul>
</div>