@model LtbDb.Models.CategoryViewContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Kategorien";
	ViewBag.Description = "Kategorien";
	ViewBag.Menu = "categories";
}

<div class="row mt-4">
	<div class="col">
		<h1>Kategorien</h1>
	</div>
</div>

<div class="row">
	<div class="col-3">
		<ul class="list-group"></ul>
		@foreach (var category in Model.Categories)
		{
			<li class="list-group-item"><a class="link-secondary" asp-route="category" asp-route-id="@category" asp-route-ofs="">@category</a></li>
		}
		</ul>
	</div>
</div>

@* <div style="position: relative;">
	<div class="panel-menu">
		Anzahl Bücher in allen Kategorien: @Model.PageOffset.Items
	</div>
	<h2>Alle Inhalte</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Html.PartialAsync("_PartialBook", book)
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a asp-route="categories" asp-route-ofs="@Model.PageOffset.Previous"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a asp-route="categories" asp-route-ofs="@Model.PageOffset.Next">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div> *@
