@model ltbdb.Models.BookViewSearchContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("Suche nach \"{0}\"", Model.Query);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.IsNullOrEmpty(Model.Query) ? "Suche" : String.Format("Suche nach \"{0}\", {1} Treffer", Model.Query, Model.PageOffset.Items);
}

<div class="book">
	<div class="search">
		<form action="@Url.Action("search", "home")" method="get">
			<input id="q" type="text" name="q" value="@(!String.IsNullOrEmpty(Model.Query) ? Model.Query : "")" placeholder="Suche..." />
		</form>
	</div>
	<ul>
	@if(Model.PageOffset.HasPrevious) {
		<li>
			<a class="pager" href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
		</li>
	 }
	@foreach (var book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id, slug = book.Title.ToSlug() })">
				<div class="img">
					<img src="@ImageStore.GetCDNPath(book.Filename, ImageType.Thumbnail)" alt="Cover" />
				</div>
				<div class="title">
					<span>Nr. @book.Number - @book.Title</span>
				</div>
			</a>
		</li>
	}
	@if(Model.PageOffset.HasNext) {
		<li>
			<a class="pager" href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
		</li>
	}
	</ul>
</div>