@model ltbdb.Models.BookViewSearchContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("Suche nach \"{0}\"", Model.Query);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Search = !String.IsNullOrEmpty(Model.Query) ? Model.Query : "";
}

<div style="position: relative;">
	<div class="panel-menu">
		Die Suche ergab @Model.PageOffset.Items Treffer.
	</div>
	<h2>Suche nach "@Model.Query"</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			<li>
				<a href="@Url.Action("view", "book", new { id = @book.Id, slug = book.Title.ToSlug() })">
					<div>
						<img src="@ImageStore.GetCDNPath(book.Filename, ImageType.PreferThumbnail)" alt="Cover" />
					</div>
					<span>Nr. @book.Number - @book.Title</span>
				</a>
			</li>
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>