@model ltbdb.Models.BookViewDetailContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("Nr. {0} - {1} | {2}", Model.Book.Number, Model.Book.Title, Model.Book.Category);
	ViewBag.Description = String.Format("Nr. {0} - {1}", Model.Book.Number, Model.Book.Title);
	ViewBag.Keywords = String.Join(", ", Model.Book.Tags);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.Format("Nr. {0} - {1}", @Model.Book.Number, @Model.Book.Title);
}

<div class="details">
	<div class="detail">
		<div class="img">
			<img src="@ImageStore.GetCDNPath(Model.Book.Filename, ImageType.Thumbnail)" alt="Cover" />
		</div>
		<div class="title">
			<span>Nr. @Model.Book.Number - @Model.Book.Title</span>
		</div>
	</div>

	<h3>Kategorie</h3>
	<div class="category">
		<a href="@Url.Action("view", "category", new { id = Model.Book.Category })">@Model.Book.Category</a>
	</div>
	
	<h3>Inhalt</h3>
	<ul>
	@if(Model.Book.Stories.Count() > 0) {
	foreach (var story in Model.Book.Stories)
	{
		<li>@story</li>
	}
	} else {
		<li>Keine Inhalte angegeben.</li> 
	}
	</ul>

	<h3>Tags</h3>
	<div class="tags">
	@foreach (var tag in Model.Book.Tags)
	{
		<a href="@Url.Action("view", "tag", new { id = tag })">@tag</a>
	}
	</div>
</div>