@model ltbdb.Models.BookViewDetailContainer
@using ltbdb.Core.Services
@inject ImageService ImageService

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = $"Nr. {Model.Book.Number} - {Model.Book.Title} | {Model.Book.Category} | ";
	ViewBag.Description = $"Nr. {Model.Book.Number} - {Model.Book.Title}";
	ViewBag.Keywords = String.Join(", ", Model.Book.Tags);
}

<div style="position: relative;">
	<div class="panel-menu">
		Kategorie: <a href="@Url.RouteUrl("category", new { id = Model.Book.Category })">@Model.Book.Category</a> | Hinzugefügt am: @String.Format(new System.Globalization.CultureInfo("de-DE"), "{0:dddd, d. MMM yyyy}", Model.Book.Created)
		@if(Context.User.Identity.IsAuthenticated) {
		@:| <a href="@Url.Action("edit", "book", new { id = Model.Book.Id } )">Bearbeiten</a> | <span class="pointer" id="delete-book" data-id="@Model.Book.Id" data-title="Buch Nr. @Model.Book.Number - @Model.Book.Title">Löschen</span>
		}
	</div>
	<h2>Nr. @Model.Book.Number - @Model.Book.Title</h2>
	<div class="details">
		<div style="float: left;">
			@if(Model.Book.Stories.Count() > 0) {
			<ul class="stories">
			@foreach (var story in Model.Book.Stories)
			{
				<li>@story</li>
			}
			</ul>
			} else {
			<span class="story-list">
				Keine Inhalte angegeben. 
			</span>
			}
		</div>
		<div style="float: right; position: relative; width: 200px; height: 200px; text-align: center;">
			<a id="image-big" href="@ImageService.GetCDNPath(Model.Book.Filename)" title="Nr. @Model.Book.Number - @Model.Book.Title (@Model.Book.Category)" data-jbox-image="image">
				<img src="@ImageService.GetCDNPath(Model.Book.Filename, ImageType.PreferThumbnail)" alt="Cover" />
			</a>
		</div>
	</div>

	<h2>Tags</h2>
	<div class="tags">
		@foreach (var tag in Model.Book.Tags)
		{
		<div class="tag button-gray">
			<a href="@Url.RouteUrl("tag", new { id = tag })" title="">@tag</a>
		</div>
		}
	</div>
</div>

<div id="delete-book-dialog" style="display: none;">
	<div class="block">
		Dieses Buch wirklich löschen?
	</div>
	<div class="block">
		<input id="delete-book-submit" class="button-red" type="button" value="Löschen" />
	</div>
</div>