@model LtbDb.Models.BookViewAllContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Alle Ausgaben";
	ViewBag.Description = "Alle Ausgaben";
	ViewBag.Menu = "all";
}

<div class="row mt-4">
	<div class="col">
		<h1>Alle Ausgaben <small class="text-muted">(@Model.PageOffset.Items)</small></h1>
	</div>
</div>

<partial name="_PartialBooks" model="Model.Books" />

<div class="row mt-4">
	<nav aria-label="page navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item @(Model.PageOffset.HasPrevious ? "" : "disabled")"><a class="page-link" asp-route="all" asp-route-ofs="@Model.PageOffset.Previous">Zurück</a></li>
			<li class="page-item @(Model.PageOffset.HasNext ? "" : "disabled")"><a class="page-link" asp-route="all" asp-route-ofs="@Model.PageOffset.Next">Weiter</a></li>
		</ul>
	</nav>
</div>